<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ShopExpress">
    <meta name="keywords" content="ShopExpress">
    <meta name="author" content="DUXA">
    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet/less" href="/static/css/common.less">

    <title>ShopExpress</title>
    <script>window.less = { relativeUrls: true }</script>
    <script src="/static/lib/requirejs/require.js"></script>
    <script src="/static/app.js"></script>
</head>
<body>
<div ng-view></div>
</body>
</html>
