<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ShopExpress">
<meta name="keywords" content="ShopExpress">
<meta name="author" content="DUXA KNASE">

<title>
    ShopExpress
</title>

    <link rel="stylesheet" href="/static/App/Lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/App/Lib/bootstrap/css/bootstrap-theme.css" />
    <script src="/static/app.js" ></script>
   <!-- <script src="/static/Lib/requirejs/require.js" data-main="/App/Admin/main.js"></script>-->

</head>

<body>
    <div>
        <div ng-view></div>
    </div>
</body>