<div class="login-panel-main">
    <div class="form">
        <label> Login
            <input  class="input" type="text">
        </label>
        <label>
            <input class="input" type="password">
        </label>
        <div class="control">
            <a href="button"></a>
        </div>
    </div>
</div>