@import "common-vars";
@import "common-mixins";
@import "variables";
@import "reset";
@import "font-awesome/font-awesome";

html{
  height: 100%;
}

.btn-login {
  &:hover{
    color: #fff;

  }
  &:before {
    font-family: FontAwesome;
    font-size: 20px;
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 7px 0;
    width: 40px;
    height: 40px;
  }

  color: #fff;
  position: relative;
  width: 100%;
  height: 40px;
  padding-left: 40px;
  margin-bottom: 10px;
}

.btn-login-facebook {
  &:hover{
    background-color: #37538d;
  }
  &:before{
    content: "\f09a";
    background-color: #2d4373;
  }
  background-color: #3B5998;
}

.btn-login-google {
  &:hover {
    background-color: #721c15;
  }
  &:before{
    content: "\f0d5";
    background-color: #721c15;
  }
  background-color: #9d261d;
}


