@import "/static/css/common";

.login-page {
  .login-panel-container {
    width: 40%;
    .center-element();

    .separator{
      &:before {
        display: inline-block;
        vertical-align: middle;
        zoom: 1;
        content: "";
        height: 0;
        border-top: 1px solid #ddd;
        position: absolute;
        top: 9px;
        left: 10px;
        right: 10px;
      }

      margin: 30px auto;
      position: relative;
      width: 100%;
      text-align: center;

      span {
        display: inline-block;
        vertical-align: middle;
        zoom: 1;
        position: relative;
        background-color: white;
        padding: 0 8px;
      }
    }
    .login-box {
      width: 100%;
      border: 1px solid #ddd;
      padding: 25px;
      text-align: left;
      background-color: #f1f1f1;

      .btn-custom-primary {
        background-color: #e24715;
        border-color: #cb4013;
        color: #fff;
      }
    }
  }
}