<section class="login-page">
    <div class="login-panel-container">
        <div class="button-container">
            <button class="btn btn-login btn-login-facebook" ng-click="submitFacebook()">
                <span>Login via Facebook</span>
            </button>

            <button class="btn btn-login btn-login-google" ng-click="submitGoogle()">
                <span>Login via Google</span>
            </button>
        </div>
        <div class="separator"><span>OR</span></div>

        <div class="login-box center-block">
            <form class="form-horizontal" role="form" name="authForm" ng-submit="submitForm()">
                <p class="title">Use your username</p>
                <div class="form-group">
                    <label for="username" class="control-label sr-only" >Username</label>
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="text" placeholder="username" ng-model="username" class="form-control">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        </div>
                    </div>
                </div>
                <label for="password" class="control-label sr-only">Password</label>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="password" placeholder="password" ng-model="password" class="form-control">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        </div>
                    </div>
                </div>
                <div class="simple-checkbox">
                    <input type="checkbox" id="checkbox1">
                    <label for="checkbox1">Remember me next time</label>
                </div>
                <button type="submit" class="btn btn-custom-primary btn-lg btn-block btn-login" ng-><i class="fa fa-arrow-circle-o-right"></i> Login</button>
            </form>

            <div class="links">
                <p><a href="#">Forgot Username or Password?</a></p>
                <p><a href="#">Create New Account</a></p>
            </div>
        </div>
    </div>
</section>