<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ShopExpress">
<meta name="keywords" content="ShopExpress">
<meta name="author" content="DUXA">

<title>
    ShopExpress
</title>