<div></div>
<h1 class="cover-heading">Write!!!</h1>
<form name="messeage-form" id="form-mess" action="/add" method="POST">
    <textarea id="messages" name="message"></textarea>
    <input type="button" id="submit-mess" value="Send">

</form>